.card_wrap {
  flex: 0 1 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #f8f8f8;
  border-width: 1px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.17);
  border-radius: 3px;
  height: 190px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card_right {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f5e4e4;
}

.card_right img {
  width: auto;
  max-width: 200px;
  height: auto;
  max-height: 200px;
  border-radius: 30px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.17);
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.noPhotosLabel {
  text-align: center;
  color: white;
  font-size: 20px;
}

.card_left {
  width: 100%;
  height: 100%;
  border-top: 1px solid #e4e4e4;
  background-color: #f3a6a6;
  display: flex;
  flex-direction: column;
}

.card_left_up {
  background-color: #a6cef3;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stars {
  margin-right: 40px;
  font-weight: 600;
}

.title {
  margin-left: 20px;
}

.card_left_down {
  background-color: #85b9e9;
  height: 70%;
}

.card_description {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.card_description_item {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40px;
}

.label {
  display: inline;
  padding-right: 3px;
  font-weight: bolder;
}

.imageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  width: auto;
  max-width: 20%;
  height: auto;
  max-height: 110px;
  border-radius: 10px;
  margin: 5px;
}

/*   
    .card_up {
      height: 100%;
      width: 100%;
    }
    
    .card_mainData {
      display: flex;
      flex-wrap: nowrap;
      padding: 25px;
      padding-bottom: 0px;
      flex-direction: row;
    }
    
    .card_image img {
      width: 50px;
      height: 50px;
      border-radius: 3px;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.17);
    }
    
    .card_title {
      width: 30%;
      margin-left: 18px;
      margin-right: 0px;
    }
    
    .actions{
        flex: 2;
        display:flex;
        justify-content: flex-end;
    
    }
    
    .actions button{
        cursor: pointer;
        font: inherit;
        color: white;
        background-color: rgb(38, 38, 117);
        border: 0px solid white;
        border-radius: 4px;
        padding: 0rem 1rem;
        
    }
    
    .timeLabels{
        display:flex;
        justify-content: space-between;
    }
    
    #name {
      font-size: 18px;
      font-weight: 700;
      margin: 0px;
    }
    
    .card_description {
      font-weight: 400;
      color: #545454;
      line-height: 21px;
      padding: 15px 25px;
    }
    
    .card_description ul {
      list-style-type: none;
      text-decoration: none;
      margin: 0;
      padding: 0;
    }
    
    .card_down {
      top: 70%;
      border-top: 1px solid #e4e4e4;
      width: 100%;
      height: 30%;
    }
     */

/* .label {
      display: inline;
      padding-right: 3px;
      font-weight: bolder;
    }
     */
@media (min-width: 576px) {
  .card_wrap,
  .card_child {
    flex: 0 1 50%;
    max-width: 50%;
  }
}
